<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Registration Form</title>
</head>
  <body>
    <div class="buttons">
          <a href="/index"> <input type="button"  value="Home"></a>
          <a href="/login"> <input type="button"  value="Login"></a>
          <a href="/register"><input type="button" value="Register"></a>
          <a href="/secret"><input type="button" value="Secret"></a>
          <a href="/logout"> <input type="button"  value="Logout"></a>
          <a href="/logouts"> <input type="button"  value="Logout all devices"></a>
       
       
      </div>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="/login" method="POST">
        <div class="field">
          <input type="text" name="email" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" name="pass" required>
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
        </div>
        <div class="field">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="/register">Signup now</a></div>
      </form>
    </div>
  </body>
</html>

